body{
    margin: 0;
    background-color: #181923;

}
section {
    display: flex;
    justify-content: center;
}
#create {
    display: flex;
    flex-direction: column;
    margin: 100px 0px;
    width: 500px;
    background-color: hsla(0, 29%, 92%, 0.8);
    padding: 35px;
    border-radius: 10px;
}

#login > label {
    font-size: 23px;
}

.input {
    border: none;
    height: 35px;
}

#Desc {
    border: none;
    height: 250px;
}

.input:focus {
    outline: none;
}

.p {
    margin-bottom: 20px;
}

#connectButton {
    align-self: center;
    height: 30px;
    width: 50%;
    background-color: #43b23a;
    transition: background-color 0.5s;
    border: none;
    color: white;
    font-size: 23px;
}

#connectButton:hover {
    background-color: #40703c;
}