body{
    margin: 0;
    background-color: #181923;

}
section {
    display: flex;
    justify-content: space-around;
}
#create {
    display: flex;
    flex-direction: column;
    margin: 100px 0px;
    width: 500px;
    background-color: hsla(0, 29%, 92%, 0.8);
    padding: 35px;
    border-radius: 10px;
}

#login > label {
    font-size: 23px;
}

.input {
    border: none;
    height: 35px;
}

#Desc {
    border: none;
    height: 250px;
}

.input:focus {
    outline: none;
}

.p {
    margin-bottom: 20px;
}

#connectButton {
    align-self: center;
    height: 30px;
    width: 50%;
    background-color: #43b23a;
    transition: background-color 0.5s;
    border: none;
    color: white;
    font-size: 23px;
}

#connectButton:hover {
    background-color: #40703c;
}
.categorie{
    width: 500px;
    height: 150px;
    margin: 10px 0px;

    background-color: violet;
}
.choice{
    width: 100%;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;

    background-color: black;
}
.srcchoice{
    width: 100%;
    height: 60px;

    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    background-color: rgb(209, 198, 198);
}
.cube{
    width: 32px;
    height: 32px;

    background-color: chartreuse;
}
.checkboxchoice{
    width: 100%;
    height: 40px;

    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    background-color: rgb(209, 198, 198);
}
input{
    width: 25px;
    height: 25px;

    padding-top: 5px;
}